Please choose a new password.
<form method="post" action="/">
New password: <input type="password" name="password">
Confirm password: <input type="password" name="password_confirmation">
<input type="submit" value="Submit">
</form>