 <% if @email %>
 	<form method="post" action="/users/reset_password/:token">
	 		Thank you, <%= @email %>. We have sent you a reset code. Please check your email
 	</form>

<% else %>

	<form method="post" action="/users/reset_password">
	 	Email: <input type="text" name="email">
	    <input type="submit" value="Reset password">
	</form>

 <% end %>